<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="2" allow-return-values="true"
	preserve-order="true">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.selenium.test.listener.TestNGListener" />
	</listeners>
	<test name="TestCenter" preserve-order="true">
		<classes>
			<class name="com.selenium.test.testcenter.TestCenterList" />
			<class name="com.selenium.test.testcenter.TestBuildingList" />
			<class name="com.selenium.test.testcenter.TestRoomList" />
			<class name="com.selenium.test.testcenter.TestDateList" />
	   		<class name="com.selenium.test.testcenter.TestSessionList" >
	   		      <methods>
         				<include name = "step01_CreateSession" />
         				<include name = "step02_SearchSession" />
         				<include name = "step03_ModifySession" />
      			  </methods>
      		</class>
	  </classes>
	</test>
	
	<test name="Admin" preserve-order="true">
		<classes>
			<class name="com.selenium.test.admin.TestImportCdtoMIS2" />						
		</classes>
	</test>
	
	<test name="PreTestPlanning" preserve-order="true">
		<classes>
			<class name="com.selenium.test.pretestplanning.WrittenTemplatesList"/>
			<class name="com.selenium.test.pretestplanning.WrittenRoomArrange"/>
		</classes>
	</test>
	
	<test name="PreTestArrange" preserve-order="true">
		<classes>
			<class name="com.selenium.test.pretestarrange.WrittenApportionment" />
		</classes>
	</test>
	<test name="TestCenter" preserve-order="true">
		<classes>
      		<class name="com.selenium.test.testcenter.TestSessionList">
      			   <methods>
         				<include name = "step04_CreateLastSession" />
         				<include name = "step06_LogOut" />
         				<include name = "step05_SearchLastSession" />
      			  </methods>
      		</class>
		</classes>
	</test>
	<test name="Examiner" preserve-order="true">
		<classes>
			<class name="com.selenium.test.examiner.AvailabilitySummary" />
			<class name="com.selenium.test.examiner.ExaminerTask" />
		</classes>
	</test>
	
	<test name="PreTestPlanning" preserve-order="true">
		<classes>
			<class name="com.selenium.test.pretestplanning.ResourcePlanning"/>
		</classes>
	</test>
	
	<test name="Examiner" preserve-order="true">
		<classes>
			<class name="com.selenium.test.examiner.SpkDeployment" />
		</classes>
	</test>
			
	<test name="TestCenter" preserve-order="true">
		<classes>
      		<class name="com.selenium.test.testcenter.SpkRoomTemplate"/>
      		<class name="com.selenium.test.testcenter.SpkRoomAvailability"/>
		</classes>
	</test>
	
	<test name="PreTestArrange" preserve-order="true">
		<classes>
      		<class name="com.selenium.test.pretestarrange.SpkArrangement"/>
		</classes>
	</test>
	
	<test name="GeneralQuery" preserve-order="true">
		<classes>
			<class name="com.selenium.test.generalquery.RegistrationNumberList" />
			<class name="com.selenium.test.generalquery.HolidayManagement" />
			<class name="com.selenium.test.generalquery.KeyDates" />
			<class name="com.selenium.test.generalquery.KeyDatesView" />
		</classes>
	</test>
	
	<test name="PostTest" preserve-order="true">
		<classes>
			<class name="com.selenium.test.postest.CandidateStatusBlock" />
			<class name="com.selenium.test.postest.EMSManagement" />
		</classes>
	</test>
	
	<test name="Security" preserve-order="true">
		<classes>
			<class name="com.selenium.test.security.CheckSuspicious" />
			<class name="com.selenium.test.security.SuspiciousList" />
		</classes>
	</test>
	
	<test name="Stock" preserve-order="true">
		<classes>
			<class name="com.selenium.test.stock.CategoryManagement" />
			<class name="com.selenium.test.stock.AdminTestLiveMats" />
			<class name="com.selenium.test.stock.AdminPermanentMats" />
			<class name="com.selenium.test.stock.TestDayAllocation" />								
		</classes>
	</test>
	
	<test name="TDOL" preserve-order="true">
		<classes>
			<class name="com.selenium.test.tdol.TDPTask" />
		</classes>
	</test>
	
	<test name="Marking" preserve-order="true">
		<classes>
			<class name="com.selenium.test.marking.FirstMarkingNew" />
			<class name="com.selenium.test.marking.DoubleMarking" />
			<class name="com.selenium.test.marking.DoubleMarkingOSM" />							
		</classes>
	</test>
	
	<test name="ClericalMarker" preserve-order="true">
		<classes>
			<class name="com.selenium.test.clericalmarker.ClericalMarkerProfile" />
			<class name="com.selenium.test.clericalmarker.ClericalMarkerTask" />
			<class name="com.selenium.test.clericalmarker.FirstMarkingAllocation" />
			<class name="com.selenium.test.clericalmarker.SecondMarkingAllocation" />
		</classes>
	</test>
	
</suite> 