<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >

 <listeners>           
     <listener class-name="org.uncommons.reportng.HTMLReporter" />
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
       <listener class-name="com.selenium.test.listener.TestNGListener" /> 
  </listeners>

  <test thread-count="5" name="Test" skipfailedinvocationcounts="true" allow-return-values="true">
    <classes>
     <!--  <class name="com.selenium.test.testcenter.TestCenterList"/> -->
      <!-- <class name="com.selenium.test.testcenter.TestBuildingList"/> -->
      <!--  <class name="com.selenium.test.testcenter.TestRoomList"/>
       <class name="com.selenium.test.testcenter.TestDateList"/> -->
       <class name="com.selenium.test.testcenter.SpkRoomTemplate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 