<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="2" allow-return-values="true">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.selenium.test.listener.TestNGListener" />
	</listeners>


<!-- 	<test name="TestCenter">
		<classes>
			<class name="com.selenium.test.testcenter.TestCenterList" />
			<class name="com.selenium.test.testcenter.TestBuildingList" />
			<class name="com.selenium.test.testcenter.TestRoomList" />
			<class name="com.selenium.test.testcenter.TestDateList" />
			<class name="com.selenium.test.testcenter.SpkRoomTemplate" />
		</classes>
	</test> 
	
	<test name="TDOL">
		<classes>
			<class name="com.selenium.test.tdol.TDPProfile" />
			<class name="com.selenium.test.tdol.TDPTask" />
			<class name="com.selenium.test.tdol.ArrangeSupervisor" />
			<class name="com.selenium.test.tdol.ArrangeSAS" />
			<class name="com.selenium.test.tdol.ArrangeSpkAS" />
			<class name="com.selenium.test.tdol.ArrangeWAS" />
			<class name="com.selenium.test.tdol.ArrangeDataAS" />
			<class name="com.selenium.test.tdol.ArrangeWAStoTC" />
			<class name="com.selenium.test.tdol.ArrangeInvigilator" />
			<class name="com.selenium.test.tdol.ArrangeBagDuty" />
			<class name="com.selenium.test.tdol.ArrangeReports" />
		</classes>
	</test>	-->
	
	<!-- <test name="PostTest">
		<classes>
			<class name="com.selenium.test.postest.CandidateStatusBlock" />
			<class name="com.selenium.test.postest.JaggedProfileInfo" />
			<class name="com.selenium.test.postest.SetScore" />
			<class name="com.selenium.test.postest.ConfirmSetScore" />
			<class name="com.selenium.test.postest.ScoreUpload" />
			<class name="com.selenium.test.postest.ImportLog" />
			<class name="com.selenium.test.postest.ScoreCheck" />
			<class name="com.selenium.test.postest.StatusScoreCheck" />
			<class name="com.selenium.test.postest.PESEComparison" />
			<class name="com.selenium.test.postest.EMSManagement" />
			<class name="com.selenium.test.postest.CandidateFromItap" />
		</classes>
	</test>	  -->
	
	<!-- <test name="CSCS">
		<classes>
			<class name="com.selenium.test.cs.FreeCandidateAdd" />
			<class name="com.selenium.test.cs.FreeCandidateList" />
		</classes>
	</test>	 -->
	
	<!-- <test name="Marketing">
		<classes>
			<class name="com.selenium.test.marketing.MarketingQuery" />
			<class name="com.selenium.test.marketing.ReportByRegion" />
			<class name="com.selenium.test.marketing.ReportByRegionOrigin" />
			<class name="com.selenium.test.marketing.ReportByCenter" />
			<class name="com.selenium.test.marketing.ReportByCenterOrigin" />
		</classes>
	</test>	 -->
	
	<!-- <test name="CS-Extra">
		<classes>
			<class name="com.selenium.test.extra.FilterWordsList" />
			<class name="com.selenium.test.extra.PendingList" />
			<class name="com.selenium.test.extra.ExtraList" />
			<class name="com.selenium.test.extra.Refund" />
			<class name="com.selenium.test.extra.ConfirmRefund" />
		</classes>
	</test>	 -->
	
	<!-- <test name="CS-Eor">
		<classes>
			<class name="com.selenium.test.eor.UnProcessingList" />
			<class name="com.selenium.test.eor.EorAppList" />
			<class name="com.selenium.test.eor.EorMarking" />
			<class name="com.selenium.test.eor.FirstImportScore" />
			<class name="com.selenium.test.eor.SecondImportScore" />
			
		</classes>
	</test>	 -->
	
	<!-- <test name="CS-Eor-India">
		<classes>
			<class name="com.selenium.test.eorindia.IndiaUnProcessingList" />
			<class name="com.selenium.test.eorindia.IndiaAppList" />
			<class name="com.selenium.test.eorindia.IndiaMarking" />
			<class name="com.selenium.test.eorindia.FirstImportScore" />
			<class name="com.selenium.test.eorindia.SecondImportScore" />
			<class name="com.selenium.test.eorindia.Journal" />
			<class name="com.selenium.test.eorindia.ConfirmJournal" />
		</classes>
	</test>	 -->
	
	<!-- <test name="ClericalMarker">
		<classes>
			<class name="com.selenium.test.clericalmarker.ClericalMarkerProfile" />
			<class name="com.selenium.test.clericalmarker.ClericalMarkerTask" />
			<class name="com.selenium.test.clericalmarker.ICMPCheckAvailability" />
			<class name="com.selenium.test.clericalmarker.FirstMarkingAllocation" />
			<class name="com.selenium.test.clericalmarker.SecondMarkingAllocation" />
		</classes>
	</test>	 -->
	
	<!-- <test name="Examiner">
		<classes>
			<class name="com.selenium.test.examiner.ExaminerProfile" />
			<class name="com.selenium.test.examiner.ExaminerTask" />
			<class name="com.selenium.test.examiner.IEPAvailabilityCheck" />
		</classes>
	</test>	 -->
	
	<test name="GeneralQuery">
		<classes>
			<!-- <class name="com.selenium.test.generalquery.RegistrationNumberList" /> -->
			<class name="com.selenium.test.generalquery.HolidayManagement" />
		</classes>
	</test>	
	
</suite> 

 